@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: #333333;
  font-family: "Oswald", sans-serif;
}
/* header */
header {
  background-color: #ffd700;
  padding: 1rem;
  text-align: center;
}
main {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
}
/* English text area */
textarea {
  display: block;
  width: 100%;
  min-height: 15vh;
  margin-top: 1rem;
  font-size: large;
  box-sizing: border-box;
}
/* Translate button */
.container{
display: flex;
justify-content: center;
align-items: center;
}
button {
  padding: 1rem 2rem;
  margin: 1rem 0rem;
  background-color: #ffd700;
  border: none;
  font-size: large;
  
}
.text{
  text-align: center;
}
/* Translated Minionese text */
#output-div {
  box-sizing: border-box;
  width: 100%;
  min-height: 15vh;
  max-height: 20vh;
  overflow: scroll;
  border: 1px solid black;
}
/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: #ffd700;
  text-align: center;
  overflow: hidden;
}

footer p {
  max-width: 660px;
  margin: auto;
}

/* Media queries */
@media only screen and (max-width: 660px) {
  footer {
    font-size: 0.8rem;
  }
}

@media only screen and (max-height: 596px) {
  footer {
    display: none;
  }
  header {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}
